{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
  <article class="entry">
  <header>
    <h1 class="entry-title"> 
      {{ article.title }}
    </h1>
     <abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
     </abbr>
     <p>In <a href="{{ SITEURL }}/{{ article.category.url }}"><b>{{ article.category }}</b></a>{% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">get the pdf</a>{% endif %}   </p>

  </header>
    <div class="entry-content">
      {{ article.content }}
    </div>
    <footer>

    {% include 'article_infos.html' %}
    {% include 'twitter.html' %}
    {% if DISQUS_SITENAME %}
      <div class="comments"> 
        <div id="discus_thread">
          <script type="text/javascript">  
            var disqus_identifier = "{{ article.url }}";
            (function() {
              var dsq = document.createElement('script'); 
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
          </script>
        </div>
      </div>
      {% endif %}
    </footer>
  </article>
</section>
{% endblock %}
