<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta name="author" content="{{ AUTHOR }}"/>
    
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <link rel="stylesheet" href="/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/foundation-icons.css"/>
    
    <!-- Feeds -->
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <script src="/theme/js/vendor/modernizr.js"></script>

    <!-- Font Google Droid -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Google Analytics -->
    {% include "analytics.html" %}

  </head>
  <body>
    
     
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <!-- Mobile Navigation -->
      <nav class="tab-bar show-for-small-only">
        <section class="left-small show-for-small-only">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">{{ SITENAME }}</h1>
        </section>

        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon"><span></span></a>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          {% for cat, articles in categories %}
          <li {% if cat == category %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></li>
          {% endfor %}
          <li><a href="#">Random</a>  </li>
          <li><a href="#">Archive</a>  </li>
          <li><a href="#">About Me</a></li>
        </ul>

      </aside>

      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Tags</label></li>
          {% for tag in tag_cloud %}
          <li><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
          {% endfor %}
        </ul>
      </aside>

      <!-- Medium or Wide Screen Navigation -->
      <nav class="top-bar hide-for-small-only" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            {% for cat, articles in categories %}
            <li {% if cat == category %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></li>
            {% endfor %}
            <li><a href="#">Random</a>  </li>
            <li><a href="#">Archive</a>  </li>
            <li><a href="#">About Me</a></li>
          </ul>
        </section>
      </nav>

      <section class="main-section">
        <div class="row">
          <!-- Main Content -->
          <div class="small-12 medium-9 columns" role="content">
            {% block content %}{% endblock %}
          </div>

          <!-- Side Panels for Medium or Wide Screen -->
          <aside class="hide-for-small-only medium-3 columns">

            <div class="panel first-of-type">
              <!-- Pelican's tag cloud -->
              <label>Tags</label>
              <ul class="tagcloud">
                {% for tag in tag_cloud %}
                <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
                {% endfor %}
              </ul>
            </div>

            <div class="panel">
              <!-- Pelican's tag cloud -->
              <label>Archives</label>
              <ul class="side-nav">
                {% for year, year_articles in articles|groupby('date.year') %}
                  <li>
                    <a href="/posts/{{ year }}">- {{ year }} ({{ year_articles|count }})</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="panel">
              <label>Links</label>              
              <ul class="side-nav">

              </ul>
            </div>
          </aside>
        </div>
        

      </section>

      <footer class="row">
        <div class="small-12 medium-9 columns">
          <hr/>
          <p class="text-center">
            Powered by <a href="http://getpelican.com">Pelican</a> and
            <a href="http://foundation.zurb.com/">Zurb Foundation</a>.
          </p>
        </div>
      </footer>

      <a class="exit-off-canvas"></a>
    </div>
  </div>
 
 
  <!-- Main Page Content and Sidebar -->
 
 

  <!-- Just before closing body tag -->
  <script src="/theme/js/vendor/jquery.js"></script> 
  <script src="/theme/js/vendor/fastclick.js"></script>
  <script src="/theme/js/foundation/foundation.min.js"></script>
  <script> $(document).foundation(); </script>  
  </body>
</html>
