/* Import */
@import url("reset.css");
/*@import url("typogrify.css");*/
@import url("pygment.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);

/***** Global *****/
/* Body */
body {
    background: #F4F4F4 url('../images/body.gif');
    color: #000305;
    /*font-size: 90%; [> Base font size: 14px <]*/
    /*font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: .8em;
  font-family: "Source Sans Pro","Arial",sans-serif;
  color: #3A3A3A;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #5F8CB0;
	padding: 0 1px;
  text-decoration: none;
}

a:hover, a:active {
	/*background-color: #C74350;*/
	/*color: #fff;*/
	text-shadow: 1px 1px 1px #AAABBB;
}


/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}


/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside;
  list-style-type: none;
	/*margin: 1em 0 1.5em 1.5em;*/
}

.post-info {
    /*float:right;*/
    /*margin:10px;*/
    /*padding:5px;*/
    margin-bottom: 10px;
}

.post-info p{
    margin-bottom: 1px;
}

.post-info a {
  text-decoration: none;
  padding: 4px; 
  border-radius: 3px;
}
.post-info a:hover {
  background: #5F8CB0;
  border-color: #4A7496;
  color: #fff;
}

.readmore { 
	/*float: right*/ 
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre {
  background-color: #F0F0F0; 
  padding: 10px; 
  margin: 10px 5px 10px 0; 
  overflow: auto;
  font-style: Bitstream Vera Sans Mono,monospace;
  font-size: 13px;
  border: 1px solid #CCC;
}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
	
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	/*tbody td {padding: .5em .4em;}*/
	tbody th {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
/*.body {clear: both; margin: 0 auto; width: 800px;}*/
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

/* Banner */
	#banner h1 {font-size: 3.571em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		width: 427px;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}
	
	/* Main Nav */
	#banner nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #C74451;
		color: #fff;
		text-shadow: none !important;
	}
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

#title a {
 color: #333;
}

/*
	Featured
*****************/
#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/* Header 
*****************/

#logo hgroup {
	margin-top: 10px;
	font-size: 13px;
}

#logo {
  padding: 5px;
  /*margin: 3px 12% 10px 0;*/
 }

#logo img {
   border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .46);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .46);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .46);
}

.menu {
  padding: 5px;
}

.menu li {
  /*
  background-image: url('../images/noise.png'), -webkit-linear-gradient(left, #5F8CB0, #4A7496); 
  background-image: url('../images/noise.png'), -moz-linear-gradient(left, #5F8CB0, #4A7496); 
  background-image: url('../images/noise.png'), linear-gradient(left, #5F8CB0, #4A7496); 
  background-position: 50% 50%;
  background-color: #5F8CB0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #1C5380;
  */
  padding: 5px;
  margin: 0 auto 5px 0;
  width: 150px;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-indent: 5px;
}

.menu li > a {
  color: #999;
}

.menu li:hover {
  text-shadow: 1px 1px 1px #333;
  color: #333;
  cursor: pointer;
}
/*
	Body
*****************/
#content {
	margin-bottom: 2em;
	overflow: hidden;
	/*padding: 20px 0px;*/
	min-width: 700px;
	margin-left: 25%;
	position: relative;
	min-height: 900px;
	z-index: 99999;

  border-left: 1px solid #E3E3E3;	
	}

	/* side */
	#side {
		position: fixed;
    /*margin: 20px 12% 10px 0;*/
		width: 25%;
		padding-left: 2%;
    padding-top: 20px;
		z-index: 1;
		min-height: 100%;
		min-width: 240px;
	}

  #credit {
    position: absolute; 
    bottom: 30px;
  }


/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 615px;
	}
	
	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 175px;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
		.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
		.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
		.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
		.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
		.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
		.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
		.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.org');}

/*
	About
*****************/
#about {
	font-style: normal;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#footer {
	overflow: hidden;
	min-width: 700px;
	margin-left: 25%;
	position: relative;
	}
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.entry {
	background: #fff;
	display: block;
	clear: both;
	padding: 40px 40px 40px 60px;
	/*border-bottom: 1px solid #eee;*/
   /*border-radius: 10px;*/
	/*-moz-border-radius: 10px;*/
	/*-webkit-border-radius: 10px;*/
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, .46);
  -moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, .46);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, .46);
  /*margin: 3px 3px 50px 3px;*/
}

article.entry p {
  color: #4D4D4D;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 27px;
  margin-bottom: 22px;
  margin-top: 22px;
  max-width: 700px;
}

article.entry h1 {
  color: black;
  font-family: "Source Sans Pro","Arial",sans-serif;
  font-weight: 900;
  line-height: 1.1em;
  font-size: 36px;

}

article.entry table {
	margin-left: 3px;
	width: 700px;
}

/* Codehighlighter style */
.codehilitetable pre {
	margin: 0px;
}

.linenos {
	width: 10px;
}

.linenos pre {
	border-right: 0px;
}

.code {
	width: 600px;
	overflow: scroll;
}


.published {
	font-size: 13px;
	font-style: italic;
}

li:last-child .entry, #content > .entry 
{border: 0; }
/*#content > .entry {padding: 1em 0;}*/
/*.entry img{display : none ;}*/
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

.entry-content {
  margin: 30px 0;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

.entry .post-info * {font-style: normal;}

	/* Content */
	/*.entry footer {margin-bottom: 2em;}*/
	.entry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}


/********/
/* MISC */
/********/
#socialButtons {
    margin-bottom: 1em;
}

.social-bar::after {
  margin-top: 40px;
  clear: both;
}

.social-bar::after, .social-bar::before {
  display: table;
  content: "";
}

.social {
  width: 52px;
  display: inline-block; 
  height: 51px;
  background-image: url("../images/socials.png"); 
  float: left;
  margin-right: 26px;
}

#twitter {
  background-position: 0px 0px;
}

#linkedin {
  background-position: -110px 0px;
}

#googleplus {
  background-position: -165px 0px;
}

#me, #introduction {
  margin-bottom: 30px;
}
